/* HTML BODY */
html,
body {
  height: 100%;
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 24px;
  cursor: default;
}
/* CONTAINER */
.container-fluid {
  height: auto;
}
/* CONTAINER HEADER */
.container-header {
  margin: 30px 0 40px;
  /* MENU */
}
.container-header img {
  max-width: 360px;
}
.container-header nav {
  margin: 10px 0 0;
}
.container-header nav ul {
  float: right;
  margin: 6px 0 0;
  font-size: 16px;
  line-height: 22px;
}
.container-header nav ul li {
  margin-left: 40px;
}
.container-header nav ul li:last-of-type a {
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #E1DF44;
  color: #FFFFFF;
}
.container-header nav ul li:last-of-type a:hover {
  background-color: #E1DF44;
}
.container-header nav ul li a {
  padding: 10px 0;
}
.container-header nav ul li a:hover {
  background-color: inherit;
}
/* */
.modal-dialog {
  margin: 100px auto;
}
/* PAGE HEADER */
.container-first-photo {
  text-align: center;
}
.container-first-photo img {
  width: auto;
  height: auto;
  background-color: black;
}
/* CONTAINER SHOP */
.container-shop-list .shop-title {
  margin: 40px 0 0;
  text-align: center;
}
.container-shop-list .shop-title h1 {
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 34px;
}
.container-shop-list .shop-title p {
  margin: 20px 0 0;
  font-size: 18px;
  line-height: 24px;
  color: #5B5B5B;
}
.container-shop-list ul {
  margin: 60px 0 60px;
}
.container-shop-list ul li {
  margin: 0 0 20px;
  text-align: center;
  list-style: none;
}
.container-shop-list ul li .shop-info {
  padding: 30px;
  background-color: #F4EFDA;
}
.container-shop-list ul li .shop-info h2 {
  margin: 0;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}
.container-shop-list ul li .shop-info hr {
  width: 100px;
  margin: 20px auto;
  border-top: 1px solid #DDDDDD;
}
.container-shop-list ul li .shop-info p {
  font-size: 16px;
  line-height: 20px;
  color: #5B5B5B;
}
.container-shop-list ul li .shop-info p span {
  display: block;
  margin: 10px 0 20px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 22px;
  color: #313131;
}
.container-shop-list ul li .shop-info .btn-primary {
  padding: 8px 20px;
  border: none;
  border-radius: 20px;
  background-color: #D25131;
}
.container-shop-list ul li .shop-info .modal .modal-body p {
  line-height: 26px;
}
/* IMPORTS */
/* RESET */
/* CLEAR */
a {
  color: inherit;
  cursor: pointer;
  transition: all .3s ease;
}
a:hover {
  background-color: inherit;
  text-decoration: none;
}
a:focus {
  background-color: inherit;
  text-decoration: none;
}
img {
  pointer-events: none;
}
@media (max-width: 600px) {
  .container {
    margin: 0 !important;
  }
  .container h2,
  .container p {
    width: inherit !important;
  }
  .container ul {
    padding: 0 !important;
  }
  .container img {
    width: inherit !important;
    height: inherit !important;
  }
}
/* SELECTION */
::-moz-selection {
  color: white;
  background: rgba(108, 108, 108, 0.5);
}
::selection {
  color: white;
  background: rgba(108, 108, 108, 0.5);
}
/* VARIABLES */
/* MIXINS */
/* RESPONSIVE */
/* Sur tous types d'écran, quand la largeur de la fenêtre fait au moins 1024px */
@media all and (min-width: 1024px) {
  .maindiv {
    width: ;
  }
}
/* Sur tous types d'écran, quand la largeur de la fenêtre fait entre 600px et 1024px */
@media all and (min-width: 600px) and (max-width: 1024px) {
  .maindiv {
    width: ;
  }
}
/* Sur tous types d'écran, quand la largeur de la fenêtre fait moins de 600px */
@media (max-width: 600px) {
  /* MARGIN */
  .containermargintop,
  .containermarginbottom {
    height: 20px;
  }
  .containermarginright,
  .containermarginleft {
    width: 20px;
  }
  .containermarginbottom .copyright {
    font-size: 8px;
    margin-top: 3px;
  }
  /* MENU */
  .container .menu {
    width: 100%;
    margin: 20px 0 0 0;
    padding: 10px 0;
    position: fixed;
    top: 0;
    text-align: center;
    line-height: 2;
  }
  .container .menu li {
    float: none;
  }
  .container .menu li:nth-child(-n+2) {
    margin-right: 10px;
  }
  /* CONTAINER */
  .container {
    margin: 160px 0 60px 0;
    padding: 0 20px;
  }
  .container img {
    width: 95px;
    height: 95px;
  }
  .container h1 {
    margin-top: 20px;
    font-size: 24px;
  }
  .container p {
    width: 260px;
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.6;
  }
  .container h2 {
    width: 260px;
    margin: 60px auto 0 auto;
    font-size: 22px;
    text-align: center;
  }
  .container h2 a {
    padding: 10px;
  }
  .container .social {
    width: 220px;
    margin: 60px auto 0 auto;
  }
  .container .social li:nth-child(-n+3) {
    margin-right: 20px;
  }
  .container .social li img {
    width: 40px;
    height: 40px;
  }
}
